<meta charset="UTF-8" />
<script src="https://unpkg.com/vue"></script>

<div id="app">
  <ul>
    <!-- cores é o objeto interavel -->
    <!-- primeiro vem o valor -->
    <!-- o segundo é índice -->
    <li v-for="(cor, i) in cores">{{i}}) {{cor}}</li>
    <!-- <li v-for="cor in cores" :teste="cor">{{cor}}</li> -->
  </ul>
  <!-- Hr coloca uma linha visivel -->
  <hr />
  <template v-for="(cor,i) in cores">
    <h1>{{ cor }}</h1>
    <p>{{ i }}</p>
  </template>
  <ul>
    <!-- <li v-for="pessoa in pessoas">{{ pessoa.nome }}
    </li> -->
    <li v-for="pessoa in pessoas">
      <!-- span já é inline -->
      <span v-for="(valor, chave, index) in pessoa">
        {{ chave }}={{valor}} ({{index}})
      </span>
    </li>
  </ul>
</div>

<script>
  new Vue({
    el: "#app",
    data: {
      cores: ["vermelho", "verde", "amarelo", "azul"],
      pessoas: [
        { nome: "Ana", idade: 26, peso: 59 },
        { nome: "Jhonat", idade: 22, peso: 89 },
      ],
    },
  });
</script>

<style>
  ul {
    list-style: none;
  }

  h1,
  p {
    /* coloca paragrafos e h1 na mesma linha  */
    display: inline;
  }
</style>
