<meta charset="UTF-8" />
<script src="https://unpkg.com/vue"></script>

<div id="app">
  <hr />
  <span v-for="n in 10">{{n}} </span>
  <!-- <div v-for="n in 10">{{n}}</div> -->
</div>

<script>
  new Vue({
    el: "#app",
    data: {
      cores: ["vermelho", "verde", "amarelo", "azul"],
      pessoas: [
        { nome: "Ana", idade: 26, peso: 59 },
        { nome: "Jhonat", idade: 22, peso: 89 },
      ],
    },
  });
</script>

<style>
  ul {
    list-style: none;
  }

  h1,
  p {
    /* coloca paragrafos e h1 na mesma linha  */
    display: inline;
  }
</style>
